*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(slide1.jpg);
  background-size: cover;
  background-position: center;
}
.logo{
  font-size: 2em;
  width: 100px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  background-image: url('logo.jpg'); /* Update the path to your image */
  background-size: contain; /* Adjust the image size to fit the container */
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px; /* Hide the text inside the element */
}
.navigation a{
  position: relative;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.navigation a::after{
  content:"";
  bottom: -6px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin:right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navigation a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}



.navigation .btn-login{
  background-color: transparent;
  color: rgb(251, 251, 255);
  height: 30px;
  width: 75px;
  cursor: pointer;
  border: 2px solid;
  margin-left: 35px;
  border-color: rgb(255, 255, 255);
  outline: none;
  font-weight: 500;
  border-radius: 6px;
  font-size: 1.1em;
  margin-left: 40px;
  transition: background-color 0.15s, color 0.15s;

}
.btn-login:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.wrapper .x{
  top: 0;
  margin-left: 99%;
  margin-top: -20px;
}
.wrapper{
  width: 420px;
  background-color: rgba(60, 65, 65, 0.5);
  color: whitesmoke;
  border-radius: 10px;
  padding: 30px 40px;
}
.wrapper .icon-close{
 background: transparent;
 font-size: 2em;
 color: white;
 display: flex;
 width: 45px;
 height: 45px;
}
.from-box h2{
  font-size: 2em;
  color: #edeef0;
  text-align: center;
}
.from-box .icon{
  position: absolute;
  right: 15px;
  top: 15px;

}
.input-box{
  font-family: Arial;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
 }
 .input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  border: 2px solid rgba(255,255 , 255, 2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
 }
 .input-box input::placeholder{
  color: white;
 }
 .input-box i{
    position: absolute;
    right:  20px;
    top:47%;
    transform: translateY(-50%);
}
.wrapper .remember-forgot{
 display: flex;
 justify-content: space-between;
 font-size: 14.5px;
 margin: -15px 0 15px; 
 padding-left: 10px;
 padding-right: 10px;  
}

.remember-forgot label input{
 accent-color: white;
 margin-right: 3px;   
}
.remember-forgot a{
    color: white;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    background-color: rgb(96, 181, 238);
    color: white;
    height: 40px;
    width: 100%;
    border-radius: 40px;
    border-color:rgb(96, 181, 238);
    border-style: solid;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: box-shadow  0.15s;
    
  }
  .btn:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.50);
  }
  .btn:active {
  background-color: #31b0e2;
  box-shadow: 0 5px #252323;
  transform: translateY(2px);
}
.wrapper .reg{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}
.reg p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.reg p a:hover{
    text-decoration: underline;
}

